  header {
    color:#232323;
    font-size:30px;
    font-style:normal;
    font-weight:500;
    letter-spacing:-1px;
    line-height:1.1em;
    font-size:30px;
    margin-bottom: 30px;
    text-align: center;
  }

  .paragrafo{
    font-size: 12px;
    text-align: justify;
    
  }
 
  .list__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  }
  .box-container{
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 30px;
      flex-wrap: wrap

  }
  
  div.column {
    margin-right:40px;
    width:380px;
  }
  
  a.box.end, body.index div.column.end {
    margin-right:0;
  }
  
  
  div.column div.belief {
    text-align: left;
    line-height: 1.4em;
    font-size: 12px;
    overflow: hidden;
    margin: 20px 0;
  }
  
  div.column div.belief.top { margin-top: 0; }
  div.column div.belief.bottom { margin-bottom: 0; }
  
  div.column div.belief h3 {
     float: left; font-size: 20px; font-weight: 500; line-height: normal; margin: 0 15px 0 0; color: #ccc;}
  
  div.column div.belief h4 {
    font-size: 16px;
    margin: 5px 0;
    color: #cc0000;
  }
  
  div.column div.belief p {
    margin: 0;
  }
  
  @media (max-width:800px){
    header {
      margin-left: -30px
    }
    .list__container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      }

      div.column {
        float:left;
        margin-right:40px;
        width:90%
      }
  }
  
 
  @media (max-width:500px){
    header {
      margin-left: -30px
    }
    .list__container{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      }

  }
  


  
  
  