.container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    font-size: 16px;
}

a {
    text-decoration: none;
    margin-bottom: 10px;
    cursor: pointer;
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    height: 50px;
    font-size: 20px;
}

p {
    color: white;
    cursor: pointer;
}
.tippy-tooltip,
.tippy-tooltip--regular,
.light-theme,
.enter ,
.tippy-notransition{
background-color: white !important;
}

@media (min-width:700px){
    .header_mobile{
        display: none;
    }
}

@media (max-width:700px){
    .menu{
        display: none;
    }
}