.grid__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .grid_item {
    border: 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .grid__novidades {
    text-align: justify;
    padding-right: 20px;
    padding-left: 20px;
  }
  .grid__image {
    width: 100%;
    border-radius: 10px;
  }
  .grid__text {
    padding: 10px;
  }
  
  .grid__button {
    background-image: linear-gradient(
        76deg,
        rgba(191, 10, 69, 0.9),
        rgba(228, 48, 93, 0.9) 63%,
        rgba(238, 115, 33, 0.9)
      ),
      linear-gradient(to bottom, #d42562, #d42562);
    color: white;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
  }
  @media (max-width: 800px) {
    .grid__container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }
    .grid_item {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  
  @media (max-width: 425px) {
    .grid__container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .grid_item {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  