
form {
    padding: 2.5em;
}


@media screen and (min-width: 700px) {
	.large-group {
		display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
	}
	
	.small-group {
		width: 45%;
	}
}
.form__title{
	text-align: center;
	font-size: 30px;
   
}

label {
	display: block;
	margin-bottom: 5px;
}

input, select {
	padding: 10px 16px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 0;
	background-color: rgb(219, 217, 217);
	font-size: 14px;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}

.container__form{
    margin-top: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.textarea-div {
	width: 100%;
}

textarea {
	padding: 10px;
	width: 100%;
	outline: 0;
	margin-bottom: 20px;
	border-radius: 10px;
	border: 0;
	background-color: rgb(219, 217, 217);
	font-size: 14px;
	height: 100px;
}

.btn { 
    background-image: linear-gradient(
        76deg,
        rgba(191, 10, 69, 0.9),
        rgba(228, 48, 93, 0.9) 63%,
        rgba(238, 115, 33, 0.9)
      ),
      linear-gradient(to bottom, #d42562, #d42562);
    color:white;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
	padding: 12px 15px;
	width: 50%;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid transparent;
    transition: 0.3s all ease;
    margin-left: auto;
    margin-right: auto;

}
