
.container__horario{
    overflow:scroll;
    padding-left: 20px;
    margin-top:60px;
    border: 1px solid #ebedf2;
    display: flex;
    width: 100%;}

.title_horarios{
  font-size: 30px;
  margin-top: 60px;
  margin-left: calc(50% - 100px)
}
.green { background-color: #2ecc71; }
.turquoise { background-color: #1abc9c; }
.navy { background-color: #34495e; }
.blue { background-color: #3498db; }
.purple { background-color: #9b59b6; }
.grey { background-color: #bdc3c7; color: #202020; }
.gray { background-color: #7f8c8d; }
.red { background-color: #e74c3c; }
.orange { background-color: #f39c12; }
.yellow { background-color: #f1c40f; color: #303030; }

.day-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: center;}

  .day-column {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    min-width: 160px;
    border: 1px solid #ebedf2;
    border-left: none;
  }
    .day-column:first-child{
        border-left: 1px solid #ebedf2;
        padding-left: 5px
    }
    .day-header {
      border-bottom: 1px solid #ebedf2;
      text-align: center;
      padding: 5px;
      color: black;
    }
    .day-content {
      flex-grow: 1;
      flex-direction: column;
      justify-content: flex-start;
      padding: 5px;
      overflow-y: auto;}
      .event {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: 5px;
        border-radius: 5px;
        padding: 3px;
        color: white;
        padding: 5px;
        box-shadow: 0px 1px 15px 1px rgba(81, 77, 92, 0.08);}
        .title {
          font-size: 12px;
        }
        footer {
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 11px;
        }
      
    
    .day-footer {
      border-top: 1px solid #ebedf2;
      padding: 5px;
      text-align: center;
      font-size: 13px;
      color: darken(#ebedf2, 20%);
    }

